*{
  margin: 0;
  padding: 0;
}

.selector-for-some-widget {
    box-sizing: content-box;
  }

  .footer{
    padding: 0.5rem;
    text-align: center;
    background-color: rgb(248,249,250);
  }

  .checks{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }

  .form-check{
    margin: 1rem;
  }
  
  .password{
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  .newPassword{
      font-size: 1.5rem;
      min-height: 2rem;
      min-width: 15rem; 
      border-radius: 0.5rem;
      padding: 0.5rem;
      color: #347efd;
      background-color: #ebebeb;
  }
  
.content{
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100vh;
  }*
  
  .content > div {
      align-self: stretch;
  }
  
  body > div > div:nth-child(4){
      flex-grow: 1;
  }
  
  .container{
      text-align: center;
      flex-wrap: wrap
  }
  
  .form{
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
/*  body > div > div:nth-child(2) > div > div > form > div > div.form-group > input{
      width: 5rem;
  }*/